/*General Style*/
@import url("../css/animate.css");
@import url("../css/bootstrap.min.css");
@import url("../css/slimmenu.min.css");
@import url("../css/owl.carousel.css");

/* Font Family */ 
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
/*  font-family: 'PT Sans', sans-serif;  */

html {
    overflow-x: hidden;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: #f1f1f1;
    -ms-overflow-style: scrollbar;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #000000;
    overflow: hidden;
}
p {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #000000;
}
@media (max-width: 1600px) {
    body,p {
        font-size: 22px;
    }
}
@media (max-width: 1199px) {
    body,p {
        font-size: 20px;
    }
}
@media (max-width: 991px) {
    body,p {
        font-size: 18px;
    }
}
@media (max-width: 767px) {
    body,p {
        font-size: 17px;
        letter-spacing: 0px;
    }
}
@media (max-width: 575px) {
    body,p {
        font-size: 16px;
    }
}
::-moz-selection {
    background: #000000;
    color: #fff;
}
::-webkit-selection {
    background: #000000;
    color: #fff;
}
/* ------------------------------------------------------------------
Typography
------------------------------------------------------------------- */
a {
    color: #d4a010;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
b,
strong {
    font-weight: 700;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #ad7f00;
    outline: 0;
}
h1:not(.site-title):before,
h2:before {
    display: none;
}
h1 {
    font-size: 60px;
    letter-spacing: 1px;
    line-height:1.2;
}
@media (max-width: 1600px) {
    h1 {
        font-size: 50px;
    }
}
@media (max-width: 1199px) {
    h1 {
        font-size: 44px;
    }
}
@media (max-width: 991px) {
    h1 {
        font-size: 40px;
    }
}
@media (max-width: 767px) {
    h1 {
        font-size: 36px;
    }
}
@media (max-width: 575px) {
    h1 {
        font-size: 32px;
    }
}
@media (max-width: 460px) {
    h1 {
        font-size: 26px;
    }
}
@media (max-width: 400px) {
    h1 {
        font-size: 22px;
    }
}
h2 {
    font-size: 44px;
    line-height: 1.1;
    letter-spacing: 1px;
}
@media (max-width: 1199px) {
    h2 {
        font-size: 40px;
    }
}
@media (max-width: 991px) {
    h2 {
        font-size: 36px;
    }
}
@media (max-width: 767px) {
    h2 {
        font-size: 32px;
    }
}
@media (max-width: 575px) {
    h2 {
        font-size: 28px;
    }
}
h3 {
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 1px;
}
@media (max-width: 1600px) {
    h3 {
        font-size: 32px;
    }
}
@media (max-width: 1199px) {
    h3 {
        font-size: 28px;
    }
}
@media (max-width: 991px) {
    h3 {
        font-size: 24px;
    }
}
@media (max-width: 767px) {
    h3 {
        font-size: 22px;
    }
}
@media (max-width: 575px) {
    h3 {
        font-size: 20px;
    }
}
h4 {
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 1px;
}
@media (max-width: 1199px) {
    h4 {
        font-size: 22px;
    }
}
@media (max-width: 991px) {
    h4 {
        font-size: 21px;
    }
}
@media (max-width: 767px) {
    h4 {
        font-size: 20px;
    }
}
@media (max-width: 575px) {
    h4 {
        font-size: 19px;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    color: #000000;
    margin: 0;
    margin-bottom: 20px;
}
p,
ol,
ul,
blockquote {
    margin: 0 0 30px;
    padding: 0;
}
ol,
ul {
    list-style: none;
}
@media (max-width: 991px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 25px;
    }
    p,
    ol,
    ul,
    blockquote {
        margin: 0 0 25px;
    }
}
@media (max-width: 767px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 20px;
    }
    p,
    ol,
    ul,
    blockquote {
        margin: 0 0 20px;
    }
}
.white h1,
.white h2,
.white h3,
.white h4,
.white h5,
.white h6,
.white p,
.white li,
.white span {
    color: #fff;
}
/* ------------------------------------------------------------------ 
    Form 
------------------------------------------------------------------- */
input[type="email"],
input[type="text"],
input[type="tel"],
input[type="search"],
input[type="file"],
input[type="password"],
textarea,
select {
    width: 100%;
    max-width: 100%;
    display: block;
    height: inherit;
    z-index: 1;
    direction: ltr;
    position: relative;
    background-color: #ffffff;
    border: 0;
    border-radius: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #000000;
    padding: 13px 20px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin: auto;
    box-shadow: inset 3px 3px 0px #a6a6a6;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
input:focus,
textarea:focus {
    border: 0;
    outline: none;
    box-shadow: none;
}
input::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder  {
    color: #666666;
    opacity: 1;
    font-size: 24px;
    font-weight: 700;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
    color: #666666;
    opacity: 1;
    font-size: 24px;
    font-weight: 700;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
    color: #666666;
    opacity: 1;
    font-size: 24px;
    font-weight: 700;
}
.form-group {
    margin-bottom: 20px;
}
@media (max-width: 1199px) {
    input[type="email"],
    input[type="text"],
    input[type="tel"],
    input[type="search"],
    input[type="file"],
    input[type="password"],
    textarea,
    select {
        padding: 11px 20px;
        font-size: 22px;
        line-height: 30px;
    }
    input::-moz-placeholder,
    textarea::-moz-placeholder,
    select::-moz-placeholder  {
        font-size: 22px;
    }
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder,
    select:-ms-input-placeholder {
        font-size: 22px;
    }
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder,
    select::-webkit-input-placeholder {
        font-size: 22px;
    }
}
@media (max-width: 991px) {
    input[type="email"],
    input[type="text"],
    input[type="tel"],
    input[type="search"],
    input[type="file"],
    input[type="password"],
    textarea,
    select {
        padding: 10px 15px;
        font-size: 20px;
        line-height: 28px;
    }
    input::-moz-placeholder,
    textarea::-moz-placeholder,
    select::-moz-placeholder  {
        font-size: 20px;
    }
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder,
    select:-ms-input-placeholder {
        font-size: 20px;
    }
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder,
    select::-webkit-input-placeholder {
        font-size: 20px;
    }
    .form-group {
        margin-bottom: 15px;
    }
}
@media (max-width: 767px) {
    input[type="email"],
    input[type="text"],
    input[type="tel"],
    input[type="search"],
    input[type="file"],
    input[type="password"],
    textarea,
    select {
        padding: 9px 15px;
        font-size: 18px;
        line-height: 26px;
    }
    input::-moz-placeholder,
    textarea::-moz-placeholder,
    select::-moz-placeholder  {
        font-size: 18px;
    }
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder,
    select:-ms-input-placeholder {
        font-size: 18px;
    }
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder,
    select::-webkit-input-placeholder {
        font-size: 18px;
    }
}
@media (max-width: 575px) {
    input[type="email"],
    input[type="text"],
    input[type="tel"],
    input[type="search"],
    input[type="file"],
    input[type="password"],
    textarea,
    select {
        padding: 8px 15px;
        font-size: 16px;
        line-height: 24px;
    }
    input::-moz-placeholder,
    textarea::-moz-placeholder,
    select::-moz-placeholder  {
        font-size: 16px;
    }
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder,
    select:-ms-input-placeholder {
        font-size: 16px;
    }
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder,
    select::-webkit-input-placeholder {
        font-size: 16px;
    }
}
/*Buttons*/
.btn_holder {
    margin-top: 30px;
    text-align: center;
}
.btn_holder.left {
    text-align: left;
}
input[type="submit"],
button[type="submit"],
.my_btn {
    position: relative;
    min-width: 280px;
    padding: 11px 25px;
    background-color: #d4a00f;
    cursor: pointer;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #ffffff !important;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0,1);
    border: 0;
    opacity: 1;
    border-radius: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
input[type="submit"]:hover,
button[type="submit"]:hover,
.my_btn:hover {
    color: #fff !important;
    background-color: #ad7f00;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1199px) {
    input[type="submit"],
    button[type="submit"],
    .my_btn {
        min-width: 260px;
        padding: 10px 20px;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 1.5px;
    }
}
@media (max-width: 991px) {
    .btn_holder {
        margin-top: 25px;
    }
    input[type="submit"],
    button[type="submit"],
    .my_btn {
        min-width: 240px;
        padding: 9px 15px;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 1px;
    }
}
@media (max-width: 767px) {
    .btn_holder {
        margin-top: 20px;
    }
    input[type="submit"],
    button[type="submit"],
    .my_btn {
        min-width: 200px;
        padding: 8px 15px;
        font-size: 18px;
        line-height: 26px;
    }
}
@media (max-width: 575px) {
    input[type="submit"],
    button[type="submit"],
    .my_btn {
        min-width: 160px;
        padding: 7px 15px;
        font-size: 17px;
        line-height: 24px;
    }
}
img {
    max-width: 100%;
    height: auto;
}
.grid_1200 {
    overflow: hidden;
}
@media (min-width: 1601px) {
    .container{
        max-width: 1400px;
    }
}
/* ---- Header ----- */
.header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    display: block;
    background-color: #000000;
}
.header .top_header {
    background-color: #454545;
    padding: 12px 0;
}
.header .top_header .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header .top_header form {
    position: relative;
    max-width: 400px;
    width: 100%;
}
.header .top_header form input[type="search"] {
    font-size: 16px;
    line-height: 20px;
    box-shadow: none;
    padding: 8px 40px 8px 12px;
}
.header .top_header form input[type="search"]::-moz-placeholder  {
    font-size: 16px;
    font-weight: 400;
}
.header .top_header form input[type="search"]:-ms-input-placeholder {
    font-size: 16px;
    font-weight: 400;
}
.header .top_header form input[type="search"]::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 400;
}
.header .top_header form button[type="submit"] {
	background-color: transparent;
	min-width: inherit;
	padding: 0;
	box-shadow: none;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	font-size: 16px;
	line-height: 26px;
	color: #454545 !important;
	width: 36px;
	height: 100%;
}
.header .top_header form button[type="submit"]:hover {
    color: #d4a00f !important;
}
.header .top_header ul {
    display: flex;
    margin-left: 25px;
    margin-bottom: 0;
}
.header .top_header ul li {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0 14px;
    line-height: 1;
    position: relative;
}
.header .top_header ul li:before {
    content: '|';
    position: absolute;
    left: 0;
    top: 0;
    color: #d4a00f;
}
.header .top_header ul li:first-child:before {
    display: none;
}
.header .top_header ul li:first-child {
    padding-left: 0;
}
.header .top_header ul li:last-child {
    padding-right: 0;
}
.header .top_header ul li {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.header .top_header ul li a:hover {
    color: #fff;
}
/**/
.header .main_header {
    padding: 30px 0;
}
.header .main_header .container {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.header .main_header .logo {
    display: block;
    width: 246px;
}
.header .main_header .logo img {
    width: 100%;
}

/* Sticky */
.sticky.header {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
}
.sticky.header .top_header {
    background-color: #454545;
    padding: 6px 0;
}
.sticky.header .main_header {
    padding: 15px 0;
}
.sticky.header .main_header .logo {
    width: 200px;
}
.sticky.header ul.slimmenu > li > a{
    line-height: 30px;
}

/**/
.header,
.header .top_header ,
.header .main_header,
.logo,
.logo img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 1199px) {
    .header,
    .sticky.header {
        position: relative;
    }
    .header .top_header,
    .sticky.header .top_header {
        padding: 10px 0;
    }
    .header .main_header,
    .sticky.header .main_header {
        padding: 0;
    }
    .header .main_header .container {
        padding: 20px 15px;
    }
    .header .main_header .logo,
    .sticky.header .main_header .logo {
        width: 246px;
    }
    .mainmenu {
        padding-top: 10px;
    }
    .sticky.header ul.slimmenu > li > a {
        line-height: 26px;
    }
}
@media (max-width: 991px) {
    .header .top_header form {
        max-width: 100%;
        width: 100%;
    }
    .header .main_header .logo, 
    .sticky.header .main_header .logo {
        width: 200px;
    }
    .mainmenu {
        padding-top: 5px;
    }
    .header .top_header ul {
        margin-left: 15px;
    }
    .header .top_header ul li {
        padding: 0 10px;
    }
    .header .top_header form input[type="search"] {
        font-size: 15px;
        padding: 6px 40px 6px 10px;
    }
    .header .top_header form input[type="search"]::-moz-placeholder  {
        font-size: 15px;
    }
    .header .top_header form input[type="search"]:-ms-input-placeholder {
        font-size: 15px;
    }
    .header .top_header form input[type="search"]::-webkit-input-placeholder {
        font-size: 15px;
    }
}
@media (max-width: 767px) {
    .header .top_header ul li {
        font-size: 13px;
        padding: 0 8px;
    }
    .header .top_header ul {
        margin-left: 10px;
    }
}
@media (max-width: 767px) {
    .header .top_header ul li {
        font-size: 12px;
    }
    .header .top_header form input[type="search"] {
        font-size: 14px;
        padding: 5px 35px 5px 8px;
    }
    .header .top_header form input[type="search"]::-moz-placeholder  {
        font-size: 14px;
    }
    .header .top_header form input[type="search"]:-ms-input-placeholder {
        font-size: 14px;
    }
    .header .top_header form input[type="search"]::-webkit-input-placeholder {
        font-size: 14px;
    }
    .header .top_header form button[type="submit"] {
        font-size: 14px;
        width: 30px;
    }
    .header .main_header .logo, .sticky.header .main_header .logo {
        width: 160px;
    }
    .header .main_header .container {
        padding: 15px;
    }
    .mainmenu {
        padding-top: 0;
    }
    .header .top_header, .sticky.header .top_header {
        padding: 7px 0;
    }
}


/* Billboard */
.billboard {
    padding: 250px 0 0;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}
.billboard::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}
.billboard::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
    z-index: 0;
}
.billboard .item  {
    min-height: 550px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-align: center;
}
.billboard .item .container {
    position: relative;
    z-index: 1;
}
.billboard .item h1 {
    text-transform: uppercase;
    margin-bottom: 50px;
}
.billboard .item p {
    max-width: 1050px;
    margin: 0 auto 60px;
    line-height: 1.2;
}
.billboard .owl-carousel .owl-nav .owl-prev, 
.billboard .owl-carousel .owl-nav .owl-next{
    top: 44%;
}
.bottom_shape{
    position: relative;
    bottom: -1px;
    left: -1%;
    right: -1%;
    width: 102%;
    max-width: 102%;
    z-index: 1;
    margin-top: 25px;
}

.billboard .owl-item.active .item h1 {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-name: fadeInDown1;
	animation-delay: 0.3s;
}
.billboard .owl-item.active .item p {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-name: fadeInUp1;
	animation-delay: 0.3s;
}
.billboard .owl-item.active .item .btn_holder {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-name: fadeInUp1;
	animation-delay: 0.4s;
}

@-webkit-keyframes fadeInDown1 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown1 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown1;
  animation-name: fadeInDown1;
}
@-webkit-keyframes fadeInUp1 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp1 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp1;
  animation-name: fadeInUp1;
}

/**/
.mission_vision {
    position: relative;
    z-index: 2;
}
.mission_vision .row > div:nth-child(2) {
    padding-right: 40px;
}
.mission_vision .fit_img {
    object-fit: contain;
    margin-top: -260px;
    margin-left: 30px;
    width: 560px;
}
@media (max-width: 1600px) {
    .billboard {
        padding: 190px 0 0;
    }
    .billboard .item {
        min-height: 400px;
    }
    .billboard .item h1 {
        margin-bottom: 25px;
    }
    .billboard .item p {
        margin: 0 auto 40px;
    }
    .mission_vision .fit_img {
        margin-top: -190px;
        margin-left: 20px;
        width: 450px;
    }
}
@media (max-width: 1199px) {
    .billboard {
        padding: 30px 0 0;
    }
    .mission_vision .fit_img {
        margin-top: -120px;
        margin-left: 0;
        width: 350px;
    }
    .mission_vision .row > div:nth-child(2) {
        padding-right: 15px;
    }
}
@media (max-width: 991px) {
    .mission_vision .fit_img {
        width: 350px;
        margin: 0 auto 20px;
    }
    .billboard .item h1 {
        margin-bottom: 20px;
    }
    .billboard .item p {
        margin: 0 auto 30px;
    }
}
@media (max-width: 575px) {
    .billboard .item {
        min-height: 300px;
    }
    .billboard .item h1 {
        margin-bottom: 10px;
    }
    .billboard .item p {
        margin: 0 auto 15px;
    }
    .mission_vision .fit_img {
        width: auto;
        max-width: 360px;
        margin: 0 auto 10px;
    }
    .billboard .owl-carousel .owl-dots {
        margin-top: 10px;
    }
}

/* --- Sections --- */
.sections {
    padding: 60px 0;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sections.sm {
    padding: 30px 0;
}
.section_title {
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid #333333;
    padding-bottom: 15px;
}
.section_title {
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid #333333;
    padding-bottom: 15px;
}
.section_title.white {
    border-bottom: 1px solid #858585;
}
.section_title h2 {
    font-size: 30px;
    text-transform: uppercase;
}
.section_title p:last-child,
.section_title h2:last-child,
.section_title h3:last-child {
    margin-bottom: 0px;
}
.section_title.white h2,
.section_title.white h3,
.section_title.white p {
    color: #ffffff;
}
.section_title.left {
    text-align: left;
}
.fit_img {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.fit_img.fullheight {
    height: 100%;
}
.fit_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
@media (max-width: 1199px) {
    .sections {
        padding: 50px 0;
    }
}
@media (max-width: 991px) {
    .sections {
        padding: 40px 0;
    }
    .sections.sm {
        padding: 25px 0;
    }
    .section_title {
        margin-bottom: 25px;
    }
    .section_title h2 {
        font-size: 28px;
    }
}
@media (max-width: 767px) {
    .sections {
        padding: 35px 0;
    }
    .section_title h2,
    .section_title p {
        margin-bottom: 12px;
    }
    .section_title {
        margin-bottom: 20px;
    }
    .section_title h2 {
        font-size: 26px;
    }
}
@media (max-width: 575px) {
    .sections {
        padding: 30px 0;
    }
    .sections.sm {
        padding: 20px 0;
    }
    .section_title h2 {
        font-size: 24px;
    }
}


/* Features */
#features {
    position: relative;
}
#features:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    z-index: 1;
}
#features:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    height: 100%;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    z-index: 1;
}
#features .owl-stage {
    display: flex;
}
#features .owl-stage .owl-item {
    display: grid;
}
.ft_box {
    background-color: #fff;
    display: block;
    height: 100%;
}
.ft_box .fit_img {
    height: 300px;
    background-color: #000;
}
.ft_box .fit_img img {
    transform: scale(1.005);
}
.ft_box:hover .fit_img img {
    opacity: 0.5;
    transform: scale(1.06);
}
.ft_box h3 {
    background-color: #d4a00f;
    color: #fff;
    position: relative;
    padding: 16px 16px 16px 60px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}
.ft_box h3 span {
    background-color: #be8f0d;
    width: 51px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}
.ft_box ul {
    padding: 20px 30px;
    column-count: 2;
    column-gap: 0;
    margin: 0;
}
.ft_box ul li {
    font-size: 12px;
    text-transform: uppercase;
    color: #333333;
    letter-spacing: 0;
    position: relative;
    padding: 0 8px;
    margin-bottom: 5px;
}
.ft_box ul li:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background-color: #333;
}
#features .owl-nav button.owl-prev {
    left: 10px;
}
#features .owl-nav button.owl-next {
    right: 10px;
}
#features .owl-nav button.owl-prev:hover, 
#features .owl-nav button.owl-next:hover{
    filter: brightness(0) invert(0);
}

.white_bg{
    background-color: #fff;
}

@media(max-width:1600px){
    .ft_box .fit_img {
        height: 250px;
    }
    .ft_box h3 {
        padding: 13px 13px 13px 50px;
        font-size: 15px;
    }
    .ft_box h3 span {
        width: 40px;
    }
    #features:before,
    #features:after {
        width: 110px;
    }
    .ft_box ul {
        padding: 15px 20px;
    }
}
@media(max-width:767px){
    .ft_box .fit_img {
        height: 200px;
    }
    .ft_box h3 {
        padding: 10px 10px 10px 50px;
        font-size: 14px;
    }
    .ft_box ul {
        padding: 12px;
    }
    .ft_box ul li {
        font-size: 11px;
        padding: 0 2px 0 8px;
    }
    #features:before, #features:after {
        width: 50px;
    }
    #features .owl-nav button.owl-prev {
        left: 5px;
    }
    #features .owl-nav button.owl-next {
        right: 5px;
    }
}
@media(max-width: 460px){
    .ft_box .fit_img {
        height: 160px;
    }
    .ft_box h3 {
        padding: 8px 8px 8px 40px;
        font-size: 13px;
    }
    .ft_box h3 span {
        width: 34px;
    }
    .ft_box ul {
        column-count: 1;
    }
    .ft_box ul li {
        font-size: 10px;
        padding: 0 2px 0 7px;
    }
}
@media(max-width: 400px){
    .ft_box .fit_img {
        height: 140px;
    }
}

/* Products */
.products {
    padding-top: 10px;
}
.row.sm {
    max-width: 1200px;
    margin: 0 auto;
}
.learn_more {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.learn_more i {
    margin-left: 3px;
}
.pr_box {
    background-color: #000;
    border: 10px solid #fff;
    text-align: center;
    width: 370px;
    height: 370px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 60px 50px 80px;
    position: relative;
    overflow: hidden;
}
.pr_box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d4a00f;
    opacity: 0.7;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.pr_box h3 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    z-index: 2;
}
.pr_box .learn_more {
    position: absolute;
    bottom: 50px;
    color: #fff;
    z-index: 2;
}
.pr_box:hover {
    border-color: #d4a00f;
}
.pr_box:hover .learn_more {
    color: #d4a00f;
}
.pr_box:hover:before {
    background-color: #000;
    opacity: 0.5;
}
@media(max-width: 1600px){
    .pr_box {
        width: 340px;
        height: 340px;
    }
}
@media(max-width: 1199px){
    .pr_box {
        width: 280px;
        height: 280px;
        padding: 50px 30px 60px;
    }
    .learn_more {
        font-size: 16px;
    }
    .pr_box .learn_more {
        bottom: 40px;
    }
}
@media(max-width: 991px){
    .pr_box {
        width: 280px;
        height: 280px;
        padding: 50px 30px 60px;
        margin: 0 auto;
    }
}
@media(max-width: 767px){
    .pr_box {
        margin: 10px auto;
        border: 7px solid #fff;
    }
    .learn_more {
        font-size: 15px;
    }
}
@media(max-width: 460px){
    .pr_box {
        width: 240px;
        height: 240px;
    }
}

/* Industries */
.inds_box {
    display: block;
    text-align: center;
    padding: 30px;
    border: 1px solid transparent;
}
.inds_box img {
    margin-bottom: 30px;
    height: 116px;
    object-fit: contain;
    object-position: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.inds_box h3 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 0;
}
.inds_box:hover img {
    transform: translateY(-5px);
    filter: brightness(0) invert(0);
}
.inds_box:hover {
    border-color: #ccc;
}

@media(max-width: 1199px){
    .inds_box {
        padding: 25px 15px;
    }
    .inds_box h3 {
        font-size: 20px;
    }
    .inds_box img {
        margin-bottom: 25px;
        height: 100px;
    }
}
@media(max-width: 575px){
    .inds_box {
        padding: 20px 5px;
    }
    .inds_box h3 {
        font-size: 18px;
    }
    .inds_box img {
        margin-bottom: 20px;
        height: 80px;
    }
    .industries .row {
        margin: 0 -10px;
    }
    .industries .row > div {
        padding: 0 10px;
    }
}
@media(max-width: 420px){
    .inds_box {
        padding: 15px 0;
    }
    .inds_box h3 {
        font-size: 15px;
    }
    .inds_box img {
        margin-bottom: 10px;
        height: 60px;
    }
}



/* Subscribe */
.dark_bg{
    background-color: #333333;
}
.subscribe {
    border-bottom: 5px solid #000;
}
.subscribe .section_title {
    margin-bottom: 60px;
}
.subscribe form.row {
    align-items: center;
    margin: 0 -7px;
}
.subscribe .row > div {
    padding: 0 7px;
}
.subscribe .row .col-4 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}
.subscribe .row .col-3 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
.subscribe input[type='submit']{
    min-width: inherit;
    width: 100%;
}

/* Footer */
.footer{
    padding-top: 90px;
}
.footer p,
.footer ul li {
    font-size: 18px;
    line-height: 30px;
}
.footer p a,
.footer ul li a {
    color: #a47800;
}
.footer p a:hover,
.footer ul li a:hover {
    color: #000;
}
.footer h3 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 3px;
}
.footer_logo{
    width: 185px;
    display: block;
    margin-bottom: 25px;
}
.social_media ul {
    margin: 0 -10px;
}
.social_media ul li {
    font-size: 36px;
    display: inline-block;
    margin: 10px;
}
.footer_bottom{
    width: 100%;
}

@media (max-width: 1199px) {
    .footer {
        padding-top: 70px;
    }
    .subscribe .section_title {
        margin-bottom: 40px;
    }
    .social_media ul li {
        font-size: 34px;
    }
}
@media (max-width: 991px) {
    .footer {
        padding-top: 50px;
    }
    .subscribe .row .col-4 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .subscribe .row .col-3 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }
    .subscribe input[type='submit'] {
        min-width: 180px;
        width: auto;
    }
    .footer p, .footer ul li {
        font-size: 17px;
        line-height: 28px;
    }
    .social_media ul li {
        font-size: 32px;
    }
    .footer h3 {
        font-size: 17px;
    }
    .footer_logo {
        margin-bottom: 20px;
    }
}
@media (max-width: 767px) {
    .footer {
        padding-top: 40px;
    }
    .footer_logo {
        margin-bottom: 15px;
    }
    .subscribe .section_title {
        margin-bottom: 30px;
    }
    .footer p, .footer ul li {
        font-size: 16px;
        line-height: 26px;
    }
    .footer h3 {
        font-size: 16px;
    }
    .social_media ul li {
        font-size: 30px;
    }
    .footer_logo{
        width: 150px;
    }
}
@media (max-width: 575px) {
    .footer {
        text-align: center;
    }
    .footer_logo {
        margin: 0 auto 15px;
    }
    .footer p, .footer ul li {
        font-size: 15px;
        line-height: 24px;
    }
    .footer h3 {
        font-size: 15px;
    }
    .social_media ul{
        padding-top: 5px;
    }
    .social_media ul li {
        font-size: 28px;
        margin: 5px;
    }
    .subscribe .section_title {
        margin-bottom: 20px;
    }
    .subscribe .row .col-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .subscribe input {
        text-align: center;
    }
    .subscribe input[type='submit'] {
        width: 100%;
    }
}


/* Go up */
.go-up {
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    cursor: pointer;
    width: 35px;
    height: 30px;
    position: fixed;
    font-size: 14px;
    line-height: 32px;
    right: 10px;
    bottom: -40px;
    border-bottom: none;
    text-align: center;
    z-index: 999;
    transition: all 0.3s ease-in-out;
}
.go-up:hover {
    background-color:  rgba(0,0,0,1);
}

@media (max-width: 768px) {
    .go-up {
        width: 24px;
        height: 22px;
        font-size: 12px;
        line-height: 20px;
    }
}
